<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="CLOVIS2Mini">
  <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

  <!-- Import CLOVIS2Mini URDF file -->
  <xacro:include filename="$(find robot_description)/urdf/clovis2mini.urdf.xacro" />

  <!-- Import ros2_control xacro -->
  <xacro:include filename="clovis2mini.ros2_control.xacro" />

  <xacro:clovis2mini_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
</robot>
